body{
  background-color: #f2f2f2;
}
.main{
  padding-top: 1.0rem;
  .index_banner{
    width: 100%;
    .swiper-slide{
      position: relative;
      .bannerIn{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0,0,0,0.4);
        padding: 0.2rem 0;
        p{
          font-size: 0.36rem;
          color: white;
          margin-left: 0.65rem;
        }
        p:nth-child(1){
          font-weight: bold;
          margin-bottom: 0.05rem;
        }
        p:nth-child(2){
          font-size: 0.16rem;
          margin-bottom: 0.02rem;
        }
      }
    }
    img{
      width: 100%;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
      bottom: 0px;
      width: 20%;
      right: 0;
      left: auto;
    }
    .swiper-pagination-bullet{
      opacity: 1;
      background: rgba(255,255,255,0.3);
    }
    .swiper-pagination-bullet-active{
      background:white;
    }
  }
  .aboutUs{
    width: 100%;
    //background-color: #2d2d2d;
    font-size: 0.26rem;
    color: #ffffff;
    margin-bottom: 0.2rem;
    >div{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      display: -webkit-flex;
      -webkit-justify-content: center;
      -webkit-align-items: center;
      background: url("../img/bj06.png") no-repeat center;
      background-size: 100% 100%;
      padding: 0.55rem 0.3rem;
      .about-1{
        width: 100%;
        line-height: 0.7rem;
        background-color: #90c8c3;
        color: #ffffff;
        font-size: 0.36rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 0.3rem;
      }
      .about-2{
        font-size: .24rem;
        color: #999999;
        margin-bottom: 0.5rem;
      }
      .about-3{
        text-align: center;
        margin-bottom: 0.7rem;
        .a4-title{
          font-size: 0.37rem;
          color: #ffffff;
          margin-bottom: 0.5rem;
        }
        >p{
          color: rgba(255,255,255,0.7);
          text-align: center;
          line-height: 0.5rem;
        }
      }
      .about-4{
        width: 80%;
        display: flex;
        justify-content: space-between;
        display: -webkit-flex;
        -webkit-justify-content: space-between;
        >div{
          width: 45%;
          line-height: 0.7rem;
          display: flex;
          justify-content: center;
          align-items: center;
          display: -webkit-flex;
          -webkit-justify-content: center;
          -webkit-align-items: center;
          background-color: #dda430;
          color: #ffffff;
          .icon01{
            width: 0.2rem;
            height: 0.3rem;
            background: url("../img/icon04.png") no-repeat center;
            background-size: 100% auto;
            margin-right: 0.16rem;
          }
          .icon02{
            width: 0.35rem;
            height: 0.45rem;
            background: url("../img/icon05.png") no-repeat center;
            background-size: 100% auto;
          }
        }
      }
    }
  }
  .meeting{
    background-color: #ffffff;
    font-size: 0.26rem;
    padding: 0.75rem 0;
    margin-bottom: 0.2rem;
    .m-cont1{
      width: 92%;
      margin: auto;
      color: #666666;
      text-align: justify;
      line-height: 0.45rem;
      margin-bottom: 0.45rem;
      letter-spacing: 0.03rem;
    }
    .swiper01{
      padding:0  0.3rem;
      .swiper-wrapper{
        .swiper-slide{
          background-color: #f6f6f6;
          -webkit-border-radius: 0 0 0.15rem 0.15rem;
          -moz-border-radius: 0 0 0.15rem 0.15rem;
          border-radius: 0 0 0.15rem 0.15rem;
          img{
            width: 100%;
          }
          .slide1{
            position: relative;
            margin-bottom: 0.55rem;
            .city{
              width: 21%;
              position: absolute;
              top: 7%;
              left: -2%;
              span{
                position: absolute;
                top: 10%;
                left: 23%;
                font-size: 0.3rem;
                color: #FFFFFF;
              }
            }
            .img{
              -webkit-border-radius: 0.15rem 0.15rem 0 0;
              -moz-border-radius: 0.15rem 0.15rem 0 0;
              border-radius: 0.15rem 0.15rem 0 0;
              overflow: hidden;
            }
          }
          .slide2{
            display: flex;
            align-items: center;
            display: -webkit-flex;
            -webkit-align-items: center;
            padding: 0 0.2rem 0.2rem 0.2rem;
            >div{
              font-size: 0.24rem;
              color: #333333;
              margin-left: 0.3rem;
              .slide2-title{
                font-size: 0.32rem;
                margin-bottom: 0.3rem;
                font-weight: bold;
              }
              .slide2-1{
                font-size: 0.26rem;
              }
              >div{
                margin-bottom: 0.3rem;
                span{
                  color: #11a2de;
                }
              }
              .button{
                width: 45%;
                font-size: 0.28rem;
                display: flex;
                justify-content: center;
                align-items: center;
                display: -webkit-flex;
                -webkit-justify-content: center;
                -webkit-align-items: center;
                line-height: 0.6rem;
                background-color: #dda430;
                -webkit-border-radius: 0.05rem;
                -moz-border-radius: 0.05rem;
                border-radius: 0.05rem;
                span{
                  color: #FFFFFF;
                }
                .icon01{
                  width: 0.15rem;
                  height: 0.27rem;
                  background: url("../img/icon04.png") no-repeat center;
                  background-size: 100% auto;
                  margin-right: 0.16rem;
                }
              }
            }
          }
        }
      }
    }
  }
  .reference{
    background-color: #ffffff;
    font-size: 0.26rem;
    padding: 0.75rem 0 0 0;
    margin-bottom: 0.2rem;
    .swiper02{
      padding: 0 0.3rem;
      margin-bottom: 0.4rem;
      .swiper-wrapper{
        .swiper-slide{
          a{
            display: flex;
            justify-content: center;
            align-items: center;
            display: -webkit-flex;
            -webkit-justify-content: center;
            -webkit-align-items: center;
            line-height: 0.6rem;
            font-size: 0.28rem;
            color: #dda430;
            border: 1px solid #dda430;
            -webkit-border-radius: 0.05rem;
            -moz-border-radius: 0.05rem;
            border-radius: 0.05rem;
          }
        }
        .swiper-slide.sel{
          a{
            background-color: #dda430;
            color: #FFFFFF;
          }
        }
      }
    }
    .contList{
      margin-bottom: 0.55rem;
      >ul{
        >li{
          padding: 0 0.3rem;
          border-bottom: 1px solid #dcdcdc;
          img{
            width: 100%;
          }
          .date{
            display: flex;
            align-items: center;
            display: -webkit-flex;
            -webkit-align-items: center;
            span{
              font-size: 0.24rem;
              color: #999999;
            }
            .span01{
              padding: 0.08rem 0.15rem;
              font-size: 0.22rem;
              color: #ffffff;
              -webkit-border-radius: 0.08rem;
              -moz-border-radius: 0.08rem;
              border-radius: 0.08rem;
              letter-spacing: 0.06rem;
              margin-right: 0.2rem;
            }
            .blue{
              background-color: #95c6dc;
            }
            .green{
              background-color: #90c8c3;
            }
            .yellow{
              background-color: #f5bd46;
            }
            .purple{
              background-color: #cbace0;
            }
          }
          .listTitle{
            font-size: 0.32rem;
            color: #333333;
            font-weight: bold;
          }
          .listCont{
            font-size: 0.26rem;
            color: #666666;
          }
        }
        >li:last-child{
          border-bottom: 0;
        }
        .smallLi{
          display: flex;
          justify-content: space-between;
          align-items: center;
          display: -webkit-flex;
          -webkit-justify-content: space-between;
          -webkit-align-items: center;
          padding: 0.3rem 0.3rem;
          .listTitle{
            margin-bottom: 0.2rem;
            p{
              line-height: 0.5rem;
            }
          }
          .smallLi-right{
            width: 35%;
          }
          .smallLi-left{
            width: 60%;
          }
        }
        .bigLi{
          .bigImg{
            margin-bottom: 0.5rem;
          }
          .listTitle{
            margin-bottom: 0.15rem;
          }
          .date{
            margin-bottom: 0.15rem;
          }
          .listCont{
            margin-bottom: 0.45rem;
            p{
              text-align: justify;
              line-height: 0.45rem;
            }
          }
        }
      }
    }
    .more{
      border-top: 1px solid #b5b5b5;
      a{
        display: flex;
        justify-content: center;
        align-content: center;
        display: -webkit-flex;
        -webkit-justify-content: center;
        -webkit-align-items: center;
        line-height: 1rem;
        span{
          font-size: 0.3rem;
          color: #666666;
        }
      }
    }
  }
  .collaborate{
    background-color: #ffffff;
    font-size: 0.26rem;
    padding: 0.75rem 0 0 0;
    .swiper03{
      padding: 0 0.2rem;
      padding-bottom: 0.75rem;
      .swiper-wrapper{
        .swiper-slide{
          display: flex;
          justify-content: center;
          align-items: center;
          display: -webkit-flex;
          -webkit-justify-content: center;
          -webkit-align-items: center;
          height: 0.75rem;
          img{
            width: 100%;
          }
        }
      }
    }
  }
}
.productCenter{
  background-color: white;
  margin-bottom: 0.2rem;
  .produceTitle{
    padding: 0.8rem 0;
    .ptTop{
      font-size: 0.4rem ;
      color: #333333;
      font-weight: bold;
      text-align: center;
      line-height: 0.6rem;
      position: relative;
      span{
        position: relative;
      }
      .prevSpan{
        position: absolute;
        height: 0.05rem;
        top: 50%;
        margin-top: -0.025rem;
        left: 110%;
        width: 150%;
        overflow: hidden;
        img{
          height: 0.05rem;
        }
      }
      .nextSpan{
        left: auto;
        right: 110%;
      }
    }
    .ptBottom{
      font-family: Arial;
      text-align: center;
      font-size: 0.24rem;
      color: #999999;
      font-weight: lighter;
      line-height: 0.5rem;
    }
  }
  .proChild{
    background-color: #f2f2f2;
    .contentBox{
      position: relative;
      .pcLeft{
        width: 50%;
        min-height: 3.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: -webkit-flex;
        -webkit-align-items: center;
        -webkit-justify-content: center;
        -webkit-flex-direction: column;
        img{
          width: 60%;
        }
      }
      .pcrBox{
        width: 100%;
      }
      .pcRight{
        position: absolute;
        top: 0;
        height: 100%;
        right: 4%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: -webkit-flex;
        -webkit-align-items: center;
        -webkit-justify-content: center;
        -webkit-flex-direction: column;
        .pcName{
          font-size: 0.32rem;
          color: #333333;
        }
        .pcStyle{
          font-size: 0.24rem;
          color: rgba(51,51,51,0.7);
        }

        .pcLabel{
          font-size: 0;
          p{
            display: inline-block;
            line-height: 0.4rem;
            border-radius: 0.04rem;
            font-size: 0.24rem;
            color: #ffffff;
            background-color: #90c8c3;
            letter-spacing: 1px;
            padding: 0 0.05rem;
            margin-right: 0.05rem;
            margin-top: 0.1rem;
          }

          .pback1{
            background-color: #de5d56;
          }
          .pback2{
            background-color: #95c6dc;
          }
          .pback3{
            background-color: #cbace0;
          }
          .pback4{
            background-color: #f5bd46;
          }

        }
      }
    }
  }
  .proChild:nth-child(2n){
    background-color: white;
    .pcLeft{
      margin-left: 50%;
    }
    .pcRight{
      right:auto;
      left: 4%;
    }
  }
  .getMore{
    width: 100%;
    text-align: center;
    a{
      line-height: 1.0rem;
      color: #666666;
      font-size: 0.3rem;
      border-top: 1px solid #b5b5b5;
    }
  }
}
.navList01{
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1001;
  >div{
    display: flex;
    flex-direction: column;
    align-items: center;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-align-items: center;
    .list_1{
      width: 88%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      display: -webkit-flex;
      -webkit-align-items: center;
      -webkit-justify-content: space-between;
      margin-bottom: 0.4rem;
      .navLogo{
        width: 20%;
        img{
          width: 100%;
        }
      }
      .navClose{
        width: 0.35rem;
        height: 0.35rem;
        background: url("../img/icon03.png") no-repeat center;
        background-size:100% auto ;
      }
    }
    >ul{
      width: 80%;
      li{
        width: 100%;
        a{
          line-height: 1rem;
          font-size: 0.32rem;
          color: #333333;
          border-bottom: 1px solid #ebebeb;
          font-weight: bold;
        }
      }
    }
  }
}
.listWrap-1{
  .m-title{
    width: 100%;
    text-align: center;
    font-size: 0.24rem;
    margin-bottom: 0.45rem;
    .title-1{
      font-size: 0.36rem;
      color: #333333;
      margin-bottom: 0.25rem;
      font-weight: bold;
    }
    .title-2{
      width: 10%;
      height: 0.06rem;
      margin: auto;
      margin-bottom: 0.25rem;
    }
    .title-3{
      color: #999999;
    }
    .orange{
      background-color: #dda430;
      color: #dda430;
    }
    .purple{
      background-color: #6e63c3;
      color: #6e63c3;
    }
    .blue{
      background-color: #45acda;
      color: #45acda;
    }
  }
}