.main {
  margin-top: 1rem; }
  .main .banner01 {
    position: relative; }
    .main .banner01 img {
      width: 100%; }
    .main .banner01 .bannerTitle {
      position: absolute;
      bottom: 6%;
      left: 7%;
      font-size: 0.24rem;
      color: #fff; }
      .main .banner01 .bannerTitle .BT01 {
        font-size: 0.36rem;
        margin-bottom: 0.12rem; }
    .main .banner01 .bannerTitle::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: -8%;
      height: 100%;
      border-left: 4px solid #f4bd45; }
  .main .search01 {
    background-color: #f3f3f3;
    padding: 0.5rem 0.3rem;
    font-size: 0.24rem; }
    .main .search01 > div {
      background-color: #fff;
      padding: 0.1rem 0.2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      display: -webkit-flex;
      -webkit-justify-content: space-between;
      -webkit-align-items: center;
      -webkit-border-radius: 0.07rem;
      -moz-border-radius: 0.07rem;
      border-radius: 0.07rem; }
      .main .search01 > div span {
        width: 0.8rem;
        height: 0.8rem;
        background: url("../img/search01.png") no-repeat center;
        background-size: 50% auto; }
      .main .search01 > div input {
        font-size: 0.3rem;
        border: 0;
        background-color: transparent; }
      .main .search01 > div input::placeholder {
        font-size: 0.3rem;
        color: #888888; }
      .main .search01 > div input::-webkit-input-placeholder {
        font-size: 0.3rem;
        color: #888888; }
  .main .listWrap {
    background-color: #fff;
    font-size: 0.24rem;
    color: #333333;
    padding: 0 0.3rem; }
    .main .listWrap .buttonMore {
      display: flex;
      justify-content: center;
      align-items: center;
      display: -webkit-flex;
      -webkit-justify-content: center;
      -webkit-align-items: center;
      background-color: #dda430;
      font-size: 0.3rem;
      color: #FFFFFF;
      line-height: 0.85rem;
      margin: 0.9rem 0; }
    .main .listWrap ul li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #eeeeee;
      padding: 0.4rem 0; }
      .main .listWrap ul li .li-left .left-title {
        font-size: 0.32rem;
        font-weight: bold;
        margin-bottom: 0.15rem; }
      .main .listWrap ul li .li-left .left-tags {
        color: #FFFFFF; }
        .main .listWrap ul li .li-left .left-tags span {
          display: inline-block;
          padding: 0.07rem 0.12rem;
          margin-right: 0.1rem;
          -webkit-border-radius: 0.05rem;
          -moz-border-radius: 0.05rem;
          border-radius: 0.05rem; }
        .main .listWrap ul li .li-left .left-tags .color-1 {
          background-color: #90c8c3; }
        .main .listWrap ul li .li-left .left-tags .color2 {
          background-color: #95c6dc; }
        .main .listWrap ul li .li-left .left-tags .color3 {
          background-color: #cbade0; }
      .main .listWrap ul li .li-right {
        padding: 0.08rem 0.35rem;
        border: 1px solid #c8c8c8;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        border-radius: 0.5rem;
        color: #c8c8c8; }
    .main .listWrap ul li:last-child {
      border-bottom: 0; }

/*# sourceMappingURL=invite.css.map */
