.main{
  padding-top: 1.0rem;
}
body{
  background-color: #f7f7f7;
}
.speakerSelect{
  display: -webkit-box;
  margin: 0.3rem auto;
  >div{
    font-size: 0.28rem;
    color: #333333;
    width: 32%;
    margin-right: 2%;
    text-align: center;
    background-color: white;
    line-height: 0.6rem;
    border-radius: 0.04rem;
  }
  >div:nth-last-child(1){
    margin-right: 0%;
  }
  .hasSelect{
    background-color: #dda430;
    color: white;
  }
}
.speakList{
  padding-bottom: 0.7rem;
}
.speakBox{
  width: 100%;
  border-radius: 0.08rem;
  border: 1px solid #d2d2d2;
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 0.2rem;
  background-color: white;
  .speakTop{
    padding: 0.72rem 0.45rem 0.48rem;
    border-bottom: 1px solid #dcdcdc;
    .stLeft{
      width: 1.74rem;
      height: 1.74rem;
      border-radius: 50%;
      box-sizing: border-box;
      border: 0.05rem solid #b5b5b5;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      display: -webkit-flex;
      -webkit-align-items: center;
      -webkit-justify-content: center;
      -webkit-flex-direction: column;
      img{
        width: 100%;
      }
    }
    .stRight{
      width: 62%;
      margin-left: 8%;
      .stName{
        line-height: 0.7rem;
        color: #333333;
        font-size: 0.36rem;
      }
      .stLabel{
        font-size: 0.24rem;
        line-height: 0.4rem;
        >div{
          float: left;
          padding:0 0.1rem;
          background-color: #95c6dc;
          border-radius: 0.04rem;
          margin-bottom: 0.1rem;
          margin-right: 0.05rem;
          color: white;
        }
      }
      .stLogo{
        width: 100%;
        .logoImg{
          width: 49%;
          img{
            width: 100%;
          }
        }
        .logoImg:nth-child(2n)
        {
          margin-left: 2%;
        }
      }
    }
  }
  .speakBottom{
    padding: 0.45rem 0.45rem 0.05rem;
    box-sizing: border-box;
    .speakTitle{
      font-size: 0.32rem;
      color: #333333;
      line-height: 0.6rem;
      text-align: justify;
      font-weight: bold;
    }
    .speakContent{
      font-size: 0.28rem;
      color: #999999;
      line-height: 0.52rem;
      letter-spacing: 0.01rem;
      text-align: justify;
      margin-bottom: 0.4rem;
    }
  }
}