.secondNav{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  line-height: 1.0rem;
  background-color: white;
  box-shadow: 1px 2px 2px rgba(51,51,51,0.1);
  z-index: 5;

  p{
    font-size: 0.36rem;
    text-align: center;
  }
  .returnNav{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.36rem 0.24rem;
    height: 1.0rem;
    box-sizing: border-box;
    >img{
      height: 100%;
    }
  }
  .signIn{
    position: absolute;
    top: 0.25rem;
    right: 0.24rem;
    width: 1.3rem;
    height: 0.5rem;
    line-height: 0.5rem;
    border-radius: 0.25rem;
    background-color: #dda430;
    font-size: 0.24rem;
    color: white;
    text-align: center;

  }

}
.contentBox{
  width: 92%;
  margin: 0 auto;
}