<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>听众登记</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta content="yes" name="apple-mobile-web-app-capable"/>
	<meta content="black" name="apple-mobile-web-app-status-bar-style"/>
	<meta content="telephone=no" name="format-detection"/>
	<link rel="stylesheet" href="css/reset.min.css" />
	<link rel="stylesheet" href="css/ydui.css">
	<link rel="stylesheet" href="css/public.css"/>
	<link rel="stylesheet" href="css/mt_index.css">
	<link rel="stylesheet" href="css/mt_registration.css">
	<script>
        (function(doc, win) {
            var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function() {
                    var clientWidth = docEl.clientWidth;
                    if(!clientWidth) return;
                    if(clientWidth >= 750) {
                        docEl.style.fontSize = '100px';
                    } else {
                        docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
                    }
                };

            if(!doc.addEventListener) return;
            win.addEventListener(resizeEvt, recalc, false);
            doc.addEventListener('DOMContentLoaded', recalc, false);
        })(document, window);
	</script>
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.min.js"></script>
	<script src="js/public.js"></script>
</head>
<body>
<!--删除不良信息-->
<div class="delete1" hidden="hidden"></div>
<div id="main">
	<!--导航-->
	<div class="secondNav">
		<a class="returnNav"><img src="img/navLeft.png" /></a>
		<p>SbSTC.我的会议</p>
		<a class="personCenter"><img src="img/person.png"/></a>
	</div>
	<div class="main">
		<div class="outSelect">
			<div class="allSelect">
				<div v-for="(item,index) in navlink">
					<a :href="item.link" :class="{hasSelect:item.status==1}">{{item.navName}}</a>
				</div>
			</div>
		</div>
		<div class="list3">
			<div class="l3-wrap">
				<ul>
					<li style="font-weight: bold;">我要报名</li>
					<li>
						<span class="must">中文名：</span><input type="text" placeholder="请输入中文名"/>
					</li>
					<li>
						<span>NAME：</span><input type="text" placeholder="请输入英文文名"/>
					</li>
					<li>
						<span class="must">公司(中文)：</span><input type="text" placeholder="请输入公司名称(中文)"/>
					</li>
					<li>
						<span>公司(英文)：</span><input type="text" placeholder="请输入公司名称(英文)"/>
					</li>
					<li>
						<span class="must">部门：</span><input type="text" placeholder="请输入部门"/>
					</li>
					<li>
						<span class="must">职务：</span><input type="text" placeholder="请输入职务"/>
					</li>
					<li>
						<span class="must">手机：</span><input type="text" placeholder="请输入手机"/>
					</li>
					<li>
						<span class="must">电话：</span><input type="text" placeholder="请输入电话"/>
					</li>
					<li>
						<span>传真：</span><input type="text" placeholder="请输入传真"/>
					</li>
					<li>
						<span class="must">电邮：</span><input type="text" placeholder="请输入电邮"/>
					</li>
					<li>
						<span>公司网址：</span><input type="text" placeholder="请输入公司网址"/>
					</li>
					<li>
						<span class="must">公司地址：</span>
						<div>
							<input type="text" id="acity" placeholder="请选择省、市、区">
						</div>
						<span class="icon"></span>
					</li>
					<li class="addressDetail">
						<span class="must">公司详细地址：</span><input type="text" placeholder="请输入公司详细地址"/>
					</li>
					<li>
						<span>邮箱：</span><input type="text" placeholder="请输入邮箱"/>
					</li>
				</ul>
			</div>
		</div>
		<div class="l4-wrap" style="margin-bottom: 0;">
			<div class="l4wrap-1">
				<div class="l4wrap-title">公司的最终产品或服务</div>
				<ul>
					<li>
						<div class="checkbox checkboxSel">
							<input type="radio" @click="selIt1">
						</div>
						<div>合同制造/EMS</div>
					</li>
					<li>
						<div class="checkbox">
							<input type="radio" @click="selIt1">
						</div>
						<div>通信系统或设备</div>
					</li>
					<li>
						<div class="checkbox">
							<input type="radio" @click="selIt1">
						</div>
						<div>工业电子控制、系统或设备</div>
					</li>
					<li>
						<div class="checkbox">
							<input type="radio" @click="selIt1">
						</div>
						<div>消费类电子产品、设备</div>
					</li>
					<li>
						<div class="checkbox">
							<input type="radio" @click="selIt1">
						</div>
						<div>计算机、数据处理或办公设备</div>
					</li>
					<li class="lastLi">
						<div class="checkbox">
							<input type="radio" @click="selIt1" class="ot">
						</div>
						<div class="text1">其他</div>
						<div class="other">
							<input type="text" disabled>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="l4-wrap" style="margin-bottom: 0;">
			<div class="l4wrap-1">
				<div class="l4wrap-title">公司的最终产品或服务</div>
				<ul>
					<li>
						<div class="checkbox checkboxSel">
							<input type="checkbox" @click="selIt">
						</div>
						<div>合同制造/EMS</div>
					</li>
					<li>
						<div class="checkbox">
							<input type="checkbox" @click="selIt">
						</div>
						<div>通信系统或设备</div>
					</li>
					<li>
						<div class="checkbox">
							<input type="checkbox" @click="selIt">
						</div>
						<div>工业电子控制、系统或设备</div>
					</li>
					<li>
						<div class="checkbox">
							<input type="checkbox" @click="selIt">
						</div>
						<div>消费类电子产品、设备</div>
					</li>
					<li>
						<div class="checkbox">
							<input type="checkbox" @click="selIt">
						</div>
						<div>计算机、数据处理或办公设备</div>
					</li>
					<li>
						<div class="checkbox">
							<input type="checkbox" @click="selIt">
						</div>
						<div>航空、航海、航天、军事电子装备</div>
					</li>
					<li>
						<div class="checkbox">
							<input type="checkbox" @click="selIt">
						</div>
						<div>测试或测量设备</div>
					</li>
					<li>
						<div class="checkbox">
							<input type="checkbox" @click="selIt">
						</div>
						<div>汽车电子设备</div>
					</li>
					<li>
						<div class="checkbox">
							<input type="checkbox" @click="selIt">
						</div>
						<div>半导体、IC、元器件或组件</div>
					</li>
					<li>
						<div class="checkbox">
							<input type="checkbox" @click="selIt">
						</div>
						<div>研究、测试或设计实验室</div>
					</li>
					<li>
						<div class="checkbox">
							<input type="checkbox" @click="selIt">
						</div>
						<div>光电子元器件、设备</div>
					</li>
					<li>
						<div class="checkbox">
							<input type="checkbox" @click="selIt">
						</div>
						<div>医用电子设备</div>
					</li>
					<li>
						<div class="checkbox">
							<input type="checkbox" @click="selIt">
						</div>
						<div>平面显示制造</div>
					</li>
					<li>
						<div class="checkbox">
							<input type="checkbox" @click="selIt">
						</div>
						<div>线路板制造</div>
					</li>
					<li class="lastLi">
						<div class="checkbox">
							<input type="checkbox" @click="selIt" class="ot">
						</div>
						<div class="text1">其他</div>
						<div class="other">
							<input type="text" disabled>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="list3" style="margin-top: 0">
			<div class="l3-wrap">
				<ul>
					<li class="l3-wrap03">
						<span>邀请码</span><input type="text" placeholder="请输入中文名"/>
					</li>
				</ul>
			</div>
		</div>

		<div class="bottomFoot">
			<ul>
				<li>
					<p>Step-by-StepTechnical Conference</p>
				</li>
				<li>
					<p>一步步新技术研讨会</p>
				</li>
				<li>
					<div class="bottomNav clearFloat">
						<div  v-for="(item,index) in bottomNav.bNav">
							<a :href="item.link">{{item.navName}}</a>
						</div>
					</div>
				</li>
			</ul>
			<div class="copy">
				<p>{{bottomNav.copy}}</p>
			</div>
		</div>
	</div>

</div>
<script src="js/ydui.citys.js"></script>
<script src="js/ydui.js"></script>
<script>
    var  app = new Vue({
        el:'#main',
        data: {
            show:true,
            navlink:[
                {
                    'navName':'首页',
                    'link':'mt_index.html',
                    'status':0
                },
                {
                    'navName':'听众登记',
                    'link':'mt_registration.html',
                    'status':1
                },
                {
                    'navName':'演讲嘉宾',
                    'link':'mt_speaker.html',
                    'status':0
                },
                {
                    'navName':'会议议程',
                    'link':'mt_agenda.html',
                    'status':0
                },
                {
                    'navName':'赞助企业',
                    'link':'mt_enterprise.html',
                    'status':0
                },
                {
                    'navName':'赞助资讯',
                    'link':'mt_Consultation.html',
                    'status':0
                },
                {
                    'navName':'往届回顾',
                    'link':'mt_past.html',
                    'status':0
                },
                {
                    'navName':'关于我们',
                    'link':'mt_about.html',
                    'status':0
                }
            ],
            bottomNav:{
                copy:'Copyright© 2018: 《SMT China 表面组装技术》',
                bNav:[
                    {
                        'navName':'首页',
                        'link':'mt_index.html'
                    },
                    {
                        'navName':'听众登记',
                        'link':'mt_registration.html',
                    },
                    {
                        'navName':'会议资讯',
                        'link':'mt_news.html',
                    },
                    {
                        'navName':'关于我们',
                        'link':'mt_about.html',
                    },
                    {
                        'navName':'关注我们',
                        'link':'mt_follow.html'
                    }

                ]
            }
        },
		methods:{
            selIt:function (e) {
                e.stopPropagation();
                if($(e.target).parent('div').hasClass('checkboxSel')){
                    $(e.target).parent('div').removeClass('checkboxSel')
                }else{
                    if($(e.target).hasClass('ot')){
                        $(e.target).parent('.checkbox').siblings('.other').find('input').removeAttr('disabled');
                        $(e.target).parent('.checkbox').siblings('.other').find('input').focus();
                    }
                    $(e.target).parent('div').addClass('checkboxSel')
                }
            },
            selIt1(){

			}
        },
		mounted(){
            $('.l4wrap-1>ul>li').click(function () {
                if($(this).find('.checkbox').hasClass('checkboxSel')){
                    $(this).find('.checkbox').removeClass('checkboxSel');
                }else{
                    $(this).find('.checkbox').addClass('checkboxSel')
                }
            })
			$('.lastLi').off();
		}
    });
    !function () {
        var $target = $('#acity');

        $target.citySelect();

        $target.on('click', function (event) {
            event.stopPropagation();
            $target.citySelect('open');
        });

        $target.on('done.ydui.cityselect', function (ret) {
            $(this).val(ret.provance + ' ' + ret.city + ' ' + ret.area);
        });
    }();
</script>
<!--删除不良信息-->
<div class="delete2" hidden="hidden"></div>
</body>
</html>
